  body { background-color: #f8f8e3;
}
hr { border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h3
{
color: #131305;
}
h1{
color:#131305 ;
}
h4{
  color:#131305;
  font-family: serif:
p{
color: #131305;
}
table{
color: #131305;
}
ul{
color: #131305;
}
form{
color: #131305;
}
